
@model IEnumerable<Team5_WebAPI.Models.Item_VO>
@{
    ViewBag.Title = "Result";
       Layout = "~/Views/Shared/_LayoutPage2.cshtml";
}
   
<div>
    <h4 style="text-align :center; border-bottom : 1px solid">품목 상세조회</h4>
        &nbsp;
        @foreach (var result in Model)
        {
            <p><label>Name  :</label> @result.ITEM_Name</p>
            <p><label>Type :</label> @result.ITEM_Type</p>
            <p><label>소모량 :</label> @result.BOM_Require</p>
        }
</div>
   
