<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="MyDB" connectionString="Server=whyfi8888.ddns.net,11433;;uid=Team5;pwd=1234;database=TEAM5"/>
  </connectionStrings>
  <appSettings>
    <add key="ServiceIntervalMilliSecond" value="3000"/>
    <add key="OrgFolder" value="C:\Users\GD6\MyService"/>
    <add key="DoneFolder" value="C:\Users\GD6\MyService\WorkDone"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>