<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="MyDB" connectionString="Server=whyfi8888.ddns.net,11433;;uid=Team5;pwd=1234;database=TEAM5" />
    <add name="localhost_TEAM5_Connection" connectionString="XpoProvider=MSSqlServer;data source=whyfi8888.ddns.net,11433;user id=;password=;initial catalog=TEAM5;Persist Security Info=true" />
  </connectionStrings>
  <appSettings>
    <add key="ServiceIntervalMilliSecond" value="3000"/>
    <add key="BarcodePort" value="COM5"/>
    <add key="OrgFolder" value="C:\Users\GD6\MyService"/>
    <add key="DoneFolder" value="C:\Users\GD6\MyService\WorkDone"/>
     <add key="MachineIP" value="192.168.0.25" ></add>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>